@import '../variables';

.mainContent {
  height: calc(100vh - 52px);
  display: flex;
  align-items: center;
}

.toMonospace {
  font-family: 'Roboto Mono', monospace;

  &Primary {
    @extend .toMonospace;
    color: $primary;
  }

  &Gray {
    @extend .toMonospace;
    color: $gray;
  }
}

.colorGray {
  color: $gray;
}

.imageContainer {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.divisor {
  display: none;
  border-color: rgb(64, 24, 109);

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.list {
  color: $primary;
  font-family: 'Roboto Mono', monospace;
  line-height: 2.5;
}

.contactSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/gradient.png');
}