@import '../variables';

.mainContent {
  height: calc(100vh - 52px);
  display: flex;
  align-items: center;
}

.toMonospace {
  font-family: 'Roboto Mono', monospace;

  &Primary {
    @extend .toMonospace;
    color: $primary;
  }

  &Gray {
    @extend .toMonospace;
    color: $gray;
  }
}

.colorGray {
  color: $gray;
}

.list {
  color: $primary;
  font-family: 'Roboto Mono', monospace;
  line-height: 2.5;
}