@import '../variables';

.avatarContainer {
  text-align: center;
}

.avatar {
  border-radius: 50%;
}

.desktopList {
  color: $gray;
  line-height: 2.5;
  font-family: 'Roboto Mono', monospace;
  padding-left: 1rem;
}

.mobileList {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  color: $gray;
  line-height: 2.5;
  font-family: 'Roboto Mono', monospace;
  padding-left: 1rem;
  opacity: 0;
}
