@import '../variables';

.img {
  z-index: -1;
}

.button {
  border: 0;
  background: transparent;
  padding: 0;
  transition: 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
  }
}