@import './variables';
@import './custom';
@import "~bootstrap/scss/bootstrap";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 52px 0 0 0;
  background-color: $background;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: $lightgray;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  color: $primary;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  color: $primary;
}

p {
  font-family: 'Roboto', sans-serif;
  color: $gray;
  letter-spacing: 1px;
}

ul {
  letter-spacing: 1px;
}

section {
  margin-bottom: 6rem;
}

.btn {
  font-family: 'Roboto Mono', sans-serif;
}